<!DOCTYPE html>
<html>
<head>
  <title>JobFarm | All employees. All opportunities. All the time.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main_nav" class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">JobFarm</a>
      <%= render 'layouts/user_status' %>
    </div>
  </div>
  <div class="container">
    <%= render 'layouts/messages' %>

    <%= yield %>

  </div>

</body>
</html>
